
.container-login{
    background-color: #F5E0A5;
    position: relative;
    height: 400px;
    min-height: fit-content;
    width: 400px;
    margin: 10%;
    padding: 30px;
    box-shadow: 0px 2px 8px #6e6e6e;
    border-radius: 60px;
}

.container-login a{
    color: black;
}
.container-login a:hover{
    color: rgb(58, 58, 58);
}

input{
    padding: 20px;
    border: none;
    outline: none;
    font-size: 15px;
    width: 300px;
    border-radius: 25px;
}

.textfield{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.Email{
    width: 100%;
    text-transform: uppercase;
    right: 10px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    flex-direction: row;
    padding: 5px;
    letter-spacing: 2px;
    font-weight: 700;
}        

.Senha{
    width: 100%;
    text-transform: uppercase;
    right: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    padding: 5px;
    letter-spacing: 2px;
    font-weight: 700;


}



.icon-click{
    margin: 0.5em;
    border-radius: 0.2em;
    padding: 0.3em 0.5em;
    width: 3%;

    color: #14ff14;
    background-color: #00AD6E;
    cursor: pointer;
}

.icon-click:hover{
    background-color: #58ffc2;
    cursor: pointer;
}
.filtro{
    font-size: 12px;
    font-family: 'chillax';
    font-weight: bold;
    padding: 0.5em 2em;
    margin: 0.25em;
    border-radius: 0.8em;
    border: none;
    outline: none;
    color: white;
    background-color: #1C5841;
    cursor: pointer;
}

.filtro:hover {
    background-color: #1b9e6e;
}
.fundo{
    width: 100%;
    height: 900px;
}

#bg-main-login{
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, 
    rgba(255, 255, 255, 0.75) 80%), url('/img/login_cadastro.jpg');
    
    background-repeat: no-repeat; 
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-position: center;
    background-color: #1b9e6e;
}